@use "./base/reset";
@use "./base/extends";
@use "./base/variables" as vars;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
body {
    font-size: 2em;
    background-color: vars.$background;
    font-family: 'Space Mono', monospace;
}
main {
    margin: 0 auto;
    max-width: 920px;
    header {
        .imgholder {
            padding-top: 162px;
            margin-bottom: 86px;
            &:after {
                display: flex;
                justify-content: center;
                font-family: "icons";
                content: "\e902";
                font-size: 52px;
                font-weight: 500;
                color: vars.$background-dark;
            }
        }
    }
    form {
        padding: 50px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 24px;
        .inputs {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 48px;
            h3 {
                font-size: 18px;
                color: vars.$header;
                margin-bottom: 12px;
                text-transform: capitalize;
                display: block;
                font-weight: 700;
            }
            .input {
                &__item {
                    position: relative;
                    input {
                        @include input(vars.$input_bg, vars.$dark_grayish_cyan_2);
                        padding: 0 10px;
                        display: flex;
                        justify-content: flex-end;
                        border-radius: 6px;
                        text-align: right;
                        &:before {
                            content: "\e900";
                            color: vars.$dark_grayish_cyan_2;
                        }
                        &:nth-of-type(2):before {
                            content: "\e901";
                            color: vars.$dark_grayish_cyan_2;
                        }
                    }
                    &--error {
                        input {
                            border-color: vars.$form_error;
                            color: vars.$background-dark;
                        }
                        &:after {
                            font-family: 'Space Mono', monospace;
                            content: "can't be zero";
                            position: absolute;
                            right: 0;
                            top: -30px;
                            color: vars.$form_error;
                            font-size: 14px;
                        }
                    }
                    &--active {
                        input {
                            border-color: vars.$bright_cyan;
                            color: vars.$background-dark;
                        }
                    }
                    &:before {
                        position: absolute;
                        font-family: "icons";
                        line-height: 44px;
                        margin-left: 10px;
                        color: vars.$dark_grayish_cyan_2;
                    }
                }
                &:first-of-type .input__item:before {
                    content: "\e900";
                }
                &:last-of-type .input__item:before {
                    content: "\e901";
                }
            }
            .tip {
                .tiplist {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 14px;
                    &__item {
                        flex: 1 1 100px;
                        display: flex;
                        line-height: 48px;
                        border: 2px solid transparent;
                        border-radius: 4px;
                        justify-content: center;
                        background-color: vars.$background-dark;
                        color: vars.$white;
                        font-weight: 700;
                        text-transform: capitalize;
                        &:hover {
                            cursor: pointer;
                            color: vars.$background-dark;
                            background-color: vars.$background;
                        }
                        & input {
                            @include input();
                            text-align: center;
                            border: none;
                            text-transform: capitalize;
                            cursor: pointer;
                        }
                        &--custom {
                            background-color: vars.$input_bg;
                            color: vars.$header;
                            border-color: transparent;
                        }
                        &--selected {
                            background-color: vars.$bright_cyan;
                            color: vars.$background-dark;
                            border-color: transparent;
                        }
                        &--active {
                            background-color: transparent;
                            color: vars.$background-dark;
                            border-color: vars.$bright_cyan;
                            input {
                                padding: 6px;
                                text-align: right;
                                color: vars.$background-dark;
                            }
                        }
                    }
                }
            }
        }
        .outcome {
            width: 49%;
            background-color: vars.$background-dark;
            border-radius: 17px;
            padding: 40px;
            display: flex;
            flex-direction: column;
            .result {
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;
                gap: 5px;
                &:last-of-type {
                    margin-bottom: 140px;
                }
                label {
                    width: 55%;
                    text-transform: capitalize;
                    color: vars.$white;
                    position: relative;
                    &:after {
                        content: "/ person";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 16px;
                        color: vars.$dark_grayish_cyan_2;
                    }
                }
                .input {
                    position: relative;
                    display: flex;
                    width: 45%;
                    input {
                        @include input($color:vars.$bright_cyan, $fs:40px);
                        position: relative;
                        display: flex;
                        border: none;
                        text-align: right;
                    }
                }
            }
            input[type="reset"] {
                @include input(#0d686d, vars.$header, $lh:48px);
                display: flex;
                justify-content: center;
                border: none;
                border-radius: 5px;
                text-transform: uppercase;
                &:hover {
                    background-color: vars.$background;
                    color: vars.$background-dark;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and(max-width: 920px) {
    main {
        header {
            .imgholder {
                padding-top: 50px;
                margin-bottom: 40px;
            }
        }
        form {
            margin: 0 auto;
            width: 80%;
            flex-direction: column;
            align-items: center;
            gap: 0;
            .inputs {
                width: 100%;
                margin-bottom: 32px;
                .tip {
                    .tiplist {
                        &__item {
                            flex: 1 1 200px;
                        }
                    }
                }
            }
            .outcome {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    main {
        form {
            width: 90%;
            .inputs {
                .tip {
                    .tiplist {
                        &__item {
                            flex: 1 1 40%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 555px) {
    main {
        form {
            padding: 50px 30px;
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            .outcome {
                padding: 40px 20px;
                .result {
                    gap: 0;
                    .input {
                        input {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
}