$bright_cyan: hsl(172, 67%, 45%);
$background-dark: hsl(183, 100%, 15%);
$dark_grayish_cyan_1: hsl(186, 14%, 43%);
$dark_grayish_cyan_2: hsl(184, 14%, 56%);
$background: hsl(185, 41%, 84%);
$input_bg: hsl(189, 41%, 97%);